# OSX
#
.DS_Store

# IntelliJ
#
.idea
.gradle
local.properties
*.iml
obj

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
junit.xml
test-report.xml
test-report.*.xml
test-report-*.xml

# Build Web Files
#
clients/web/public/main*
clients/web/public/manifest.json

trash

\.vscode/
\.vs/

build/

.eslintcache

# CI
/*.log

# CLI's
.cli.lock
.cli.epoch
.yarn-epoch

# Vim
*.swp
*~

